# Ignore IDE files
.idea/
.vscode/

# Ignore build output
/target/
/bin/
/build/

# Ignore dependency directories
/node_modules/
/lib/

# Ignore application properties files
*.properties

# Ignore log files
*.log
